/.idea/
/invoice/node_modules/
/invoice/bin/
/invoice/build/


/store/node_modules/
/store/bin/
/store/build/



/notification/node_modules/
/notification/bin/
/notification/build/

/invoice/.classpath
/store/.classpath
/notification/.classpath



/invoice/.editorconfig
/store/.editorconfig
/notification/.editorconfig



